<!--index.vtl-->
<h1>HACKATHON TEAM TRACKER</h1>
<h2>Sign up for Hackathon Hell!</h2>
<p>Create A New Team<a href="teams/new"> Here</a></p><br>
<p>Add New Team Member<a href="team/:id/members/new"> Here</a></p>
<!--index.vtl-->
