<!--index.vtl-->
<h1>HACKATHON TEAM TRACKER</h1>
<h2>Sign up for Hackathon Hell!</h2>

<p>Create A New Team<a href="teams/new"> Here</a></p>



<a href="team/:id/members/new">Add New Team Member</a>

<!--index.vtl-->
