<!--members.vtl-->
<p>Create A New Member<a href="/"> Here</a></p>
<h1>Member List!</h1>
#if ($members)
  <ul>
    #foreach ($member in $members)
      <li><a href="/members/$member.getId()">$member.getName()</a></li>
    #end
  </ul>
#else
  <p>No Members!</p>
#end
<a href="/members/new">Add New Member</a>
<!--members.vtl-->
