<!--members.vtl-->
<h3>View the members below!</h3>

#if ($members)
  <ul>
    #foreach ($member in $members)
      <li><a href="/members/$member.getId()">$member.getName()</a></li>
    #end
  </ul>
#else
  <p>No members To Show</p>
#end

<h1>Member list!</h1>
#if ($member)
  <p>Current Team:</p>
  <p>$member.getName()</p>
#else
  <p>No Members</p>
#end

<p>Create A New Member<a href="/members/new"> Here</a></p>

<!--members.vtl-->
