<!--member.vtl-->
<h3>View the members below!</h3>

#if ($members)
  <ul>
    #foreach ($member in $members)
      <li><a href="/members/$member.getId()">$member.getName()</a></li>
    #end
  </ul>
#else
  <p>No members To Show</p>
#end

<!-- <h1>Team list!</h1>
#if ($team)
  <p>Current Team:</p>
  <p>$team.getTeamName()</p>
#else
  <p>No teams!</p>
#end -->

<p>Create A New Member<a href="team/:id/members/new"> Here</a></p>

<!--tasks.vtl-->
