<!--team-members-form.vtl-->
<h1>Sign Up for Hackathon Hell!</h1>
<p>Sign Up Below</p>
<form action="/members" method="post">
  <label for="name">Full Name</label>
  <input id="name" name="name" type="text"><br>
  <button type="submit" class="btn btn-default">Sign Up!</button>
</form>
<!--team-members-form.vtl-->
